.env
Key
archive/
__pycache__/
*.pyc
*.zip
*.mp3
*.mpeg
.env
Key

__pycache__/
*.pyc

lite-test/
e5-large-onnx/

fir_index.index

build_small_index.py
quantize_e5.py

test_e5.py
test_faiss.py
test_small_faiss.py
test_small_model.py